In [1]:
import requests
import datetime
import json
import pandas as pd
from fake_useragent import UserAgent

In [2]:
temp_user_agent = UserAgent()
browser_header = {'User-Agent': temp_user_agent.random}

In [3]:
state_id_mapping = requests.get("https://cdn-api.co-vin.in/api/v2/admin/location/states", headers=browser_header)

In [5]:
df_state_id_mapping = pd.DataFrame(json.loads(state_id_mapping.text)["states"])

In [6]:
df_state_id_mapping.head(3)

   state_id                   state_name
0         1  Andaman and Nicobar Islands
1         2               Andhra Pradesh
2         3            Arunachal Pradesh

In [7]:
df_state_id_mapping.to_csv("State_ID_Mapping.csv", index=False)